<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tic-Tac-Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="index.js"></script>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <div style="width: min-content">
      <div class="game-field"></div>
      <div class="buttons">
        <button class="back-button"><img src="img/back.svg" /></button>
        <input type="button" class="reset-button" value="Reset" />
        <button class="forward-button"><img src="img/back.svg" /></button>
      </div>
      <div class="input">
        <input type="number" class="dims" value="3" min="3" max="10" />
      </div>
    </div>
    <!-- <br>
    <form action = 'http://localhost:7005/api/game' method="POST">
      <input type="text" id = 'winnerId' name="winnerId">
      <input type="text" id = 'loserId' name="loserId">
      <input type="submit" class="btn"/>
    </form> -->
  </body>
</html>
